POSTGRES_USER=bomb_squad
POSTGRES_PASSWORD=bomb_squad_dev
POSTGRES_DB=bomb_squad
POSTGRES_PORT=5432
DATABASE_URL='postgres://bomb_squad:bomb_squad_dev@localhost:5432/bomb_squad?sslmode=disable&search_path=public'
GCS_EMULATOR_PORT=4443
STORAGE_EMULATOR_HOST=http://localhost:4443
